<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610015076141-jahkg998qqiq33prndaskigfrr7qjmt7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610015076141-jahkg998qqiq33prndaskigfrr7qjmt7</string>
	<key>API_KEY</key>
	<string>AIzaSyClKxudLOBiZyho7oViFHL5cniss9cmSmI</string>
	<key>GCM_SENDER_ID</key>
	<string>610015076141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.application.mobile</string>
	<key>PROJECT_ID</key>
	<string>malipark-fae42</string>
	<key>STORAGE_BUCKET</key>
	<string>malipark-fae42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610015076141:ios:808ed375c123b7ad28bda4</string>
	<key>DATABASE_URL</key>
	<string>https://malipark-fae42.firebaseio.com</string>
</dict>
</plist>